
nav{
	background-color: #222;
	font-family: 'Arvo', courier, serif;
 } 
}
.nav-link{
	color: grey;
}
.nav-items{
	background-color: transparent;
}
.jumbotron{
	background-image: url(../images/hero-image.jpg);
	height: 650px;
	color: white;
	text-align: center;
}
.jumbotron h1{
	font-size: 57px;
	margin-bottom:50px;
	font-family: 'Arvo', courier, serif;
}
.jumbotron p{
	text-align: center;
	font-size: 21px;
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}
.jumbotron img{
	margin: 30px;
}
#who{
	text-align: center;
}
#who h2{
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}
#who p{
	font-size: 21px;
	height: 300px;	
}
#who a{
	color: #e74c3c;
}
#get-involved{
	background-color: #f5f5f5;
}
#get-involved h2{
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}
.container{
	text-align: center;
}
.col-md-4 h2{
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}
.col-md-4 p{
	font-size: 21px;	
}
.col-md-4 a{
	color: #e74c3c;
	margin-bottom: 30px;
}


footer{
	background-color:#f74c3c;
	padding-top: 150px;
	padding-bottom: 30px;	
}

/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
